* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #d6dde4;
    padding: 20px;
}

header {
    text-align: center;
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    
}

header h1 {
    margin-bottom: 10px;
}

main {
    max-width: 1200px;
    margin: auto;
}

.search-section,
.filters,
.sort-section,
.add-section,
.highest-salary {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.search-section {
    display: flex;
    gap: 10px;
  
}

input,
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section input {
    flex: 1;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters,
.sort-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard div {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.dashboard p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.employee-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.employee-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.employee-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.employee-card h2 {
    text-align: center;
    margin: 15px 0;
}

.employee-card p {
    margin: 8px 0;
}

.delete-btn {
    margin-top: 10px;
    width: 100%;
    background-color: red;
    
}

.add-section h2,
.highest-salary h2 {
    margin-bottom: 15px;
    
}

#employeeForm {
    display: grid;
    gap: 12px;
}

#employeeForm button {
    width: 150px;
    background-color: rgb(105, 105, 242);
}

#errorMessage {
    margin-top: 10px;
}

@media (max-width: 768px) {

    .employee-container {
        grid-template-columns: 1fr;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }
}